DB_DIALECT=postgres
DB_HOST=postgres_whaticket
DB_PORT=5432
DB_USER=usuario_postgres         # Informe o usuário do seu banco
DB_PASS=senha_postgres           # Informe a senha do seu banco
DB_NAME=nome_do_banco            # Informe o nome do seu banco
TZ=America/Sao_Paulo

JWT_SECRET=seu_segredo_jwt               # Defina um segredo forte
JWT_REFRESH_SECRET=seu_refresh_jwt       # Defina um segredo forte
PORT=3000
PROXY_PORT=443
BACKEND_URL=https://api.suaempresa.com.br    # Informe a URL pública do backend
FRONTEND_URL=https://app.suaempresa.com.br   # Informe a URL pública do frontend
CHROME_ARGS=--no-sandbox --disable-setuid-sandbox

REDIS_URI=redis://:senha_redis@whaticket_redis:6379   # Informe a senha do Redis
REDIS_OPT_LIMITER_MAX=1
REDIS_OPT_LIMITER_DURATION=3000

GERENCIANET_SANDBOX=false
GERENCIANET_CLIENT_ID=seu_client_id_gerencianet
GERENCIANET_CLIENT_SECRET=seu_client_secret_gerencianet
GERENCIANET_PIX_CERT=seu_certificado_pix
GERENCIANET_PIX_KEY=sua_chave_pix

USER_LIMIT=10000
CONNECTIONS_LIMIT=100000
CLOSED_SEND_BY_ME=true

MAIL_HOST=smtp.seuprovedor.com           # Informe o host SMTP
MAIL_USER=seu_email@seudominio.com       # Informe o e-mail de envio
MAIL_PASS=senha_email                    # Informe a senha do e-mail
MAIL_FROM=Whaticket <seu_email@seudominio.com> # Informe o remetente
MAIL_PORT=587